@model X.PagedList.IPagedList<ProdutoModel>
@{
    Layout = "_MenuLayout";
}


<!DOCTYPE html>
<html>
<head>
    <title>Menu Principal</title>
    <link href="~/css/MenuCliente.css" rel="stylesheet" />
    <script src="~/js/IndexProduto.js"></script>

</head>
<body>

    <main class="col-md-10 ml-sm-auto col-lg-10 ml-auto px-4">
        <div class="d-flex justify-content-between align-items-center mt-4  pb-2 mb-3">


            @{
                try
                {
                    var errormessage = TempData["Verificacao"].ToString();

                    if (errormessage.Equals("Produto Cadastrado com Sucesso!!!"))
                    {



                        <div class="alert alert-success alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Feito!</strong> Produto Cadastrado com Sucesso!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }
                    else if (errormessage.Equals("Erro Ao Inserir Produto Tente Novamente"))
                    {

                        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Opa!</strong>Erro ao Cadastrar Produto - Por Favor Tente Novamente!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                    }
                    else if (errormessage.Equals("Produto Excluido"))
                    {
                        <div class="alert alert-success alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Feito!</strong> Produto Excluído com Sucesso!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else if (errormessage.Equals("Erro ao excluir Produto"))
                    {
                        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Opa!</strong>Erro ao Excluir Produto - Por Favor Tente Novamente!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else if (errormessage.Equals("Alterado"))
                    {
                        <div class="alert alert-success alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Feito!</strong> Produto Alterado com Sucesso!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else if (errormessage.Equals("Erro ao alterar"))
                    {
                        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
                            <strong>Opa!</strong>Erro ao Alterar Produto - Por Favor Tente Novamente!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
                catch
                {


                }
            }

            <div>
                <a asp-action="AdicionarProduto" class="btn btn-primary btn-sm " id="novoproduto">Novo Produto</a>
            </div>





        </div>
        @if (Model.Count() > 0)
        {

            <div class="table-responsive">
                <table class="table table-striped table-sm" id="tabelaProdutos">
                    <thead>
                        <tr>

                            <th>Código </th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Categoria</th>
                            <th>Observação</th>
                            <th>Foto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ProdutoModel produto in Model)
                        {

                            <tr>


                                <td>@produto.codigo_produto</td>
                                <td>@produto.nome</td>
                                <td>@produto.valor</td>
                                <td>@produto.categoria</td>
                                <td>@produto.observacao</td>
                                <td>
                                    @try
                                    {
                                        <img src="@produto.link_foto" width="150" height="150" />

                                    }
                                    catch
                                    {
                                        <label>SEM FOTO</label>

                                    }
                                </td>
                                <td>
                                    <a asp-action="Alterar" asp-route-id="@produto.id_produto" class=" btn btn-primary btn-sm ">Atualizar</a>
                                    <a asp-action="Excluir" asp-route-id="@produto.id_produto" class="btn btn-danger btn-sm excluirProduto">Excluir</a>
                                </td>

                            </tr>

                        }

                </table>
                @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Nenhum Produto Cadastrado - Insira um Novo Produto!!!
            </div>
        }

    </main>
    <script src="~/js/IndexProduto.js"></script>
</body>
</html>